keycloak_url            = "http://localhost:8180"
realm                   = "securedbankdev"
client_id               = "securedbank-api"
client_secret           = "replace-with-a-long-random-secret"
keycloak_admin_password = "admin"

auth_code_client_id     = "securedbankclient"
auth_code_client_secret = "replace-with-auth-code-client-secret"
pkce_client_id          = "securebankclientpublic"
pkce_ui_client_id       = "securedbankclientpublicui"
user_password           = "Password@123"
